# 1. Python & Bytecode
#---------------------
__pycache__/
*.py[cod]

# 2. Virtuele omgeving
#---------------------
venv/
.env/

# 3. IDE / Editor
#---------------------
.spyproject/

# 4. Logs & tijdelijke bestanden
#---------------------
*.log
*.tmp
*.csv

# 5. Configuratie & gevoelige data
#---------------------
config/config.json
config/*.env
!config/config_example.json

# 6. Databasebestanden
#---------------------
data/*.db
!data/example.db   # uitzondering: voorbeeldbestand meenemen
